* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  position: relative;
}
.sidebar {
  background-color: white;
  left: -200%;
  position: absolute;
  height: 100vh;
  width: 300px;
  box-shadow: 1px 0px 8px grey;
  transition: left 800ms ease;
  z-index: 1;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.sidebar ul {
  list-style: none;
  padding: 20px;
}
.sidebar ul > li {
  margin-bottom: 15px;
}
.sidebar ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.sidebar.active {
  left: 0;
}
#menu-icon {
  /* display: none; */
  cursor: pointer;
}
.icon {
  display: flex;
  align-items: center;
  gap: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 1px 2px 5px grey; */
  padding: 20px;
  position: absolute;
  width: 100%;
  z-index: 0;
}
.navbar img {
  width: 10vw;
  margin-left: 30%;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.profile {
}
.menu ul a {
  text-decoration: none;
  font-size: 1.5rem;
}
/* @media (max-width: 720px) {
  #menu-icon {
    display: block;
  }
} */
